{% extends "public/base.html" %}
{% include "public/userNavigationBar.html" %}

{% block link %} <link rel="stylesheet" href="{{url_for('static', filename='css/cards.css')}}"> {% endblock %}


{% block title %} Simon's Home Page{% endblock %}

{% block content %}
	<h1>Hello Simon! Simon Says You should</h1>

	<div class="project-board">

		{% for l in list %}
			<div class="bin">
				<div class="bin-label">{{ l.name }}</div>
				{% for task in l.tasks %}
					<div class="card">
						<label class="card-label">{{task.subject}}</label>
						<div class="card-status">{{task.status}}</div>
					</div>
				{% endfor %}
			</div>	
		{% endfor %}
	</div>
{% endblock %}
