<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">
    <!-- App Logo -->
    <img src="{{ url_for('static', filename='img/todo-icon.png') }}" width="30" height="30" alt="">
    SimonIDO
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">Index<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('createTask')}}">Create Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('view_tasks')}}">View Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
      <a class="btn btn-primary justify-content-end" href="{{url_for('signup')}}">Sign Up</a>
      <a class="btn btn-primary justify-content-end" href="#">Sign In</a>

    </ul>
  </div>
</nav>